<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Thông báo đơn hàng</title>
  <style>
    body {
      font-size: 16px;
    }

    .b1 {
      text-align: center;
      font-family: "Roboto", Helvetica, sans-serif;
      font-size: 12px;
      line-height: 22px;
      margin-bottom: 50px;
      ;
      color: #999999;
    }

    .b1 span {
      font-weight: bold;
    }

    .b1 tr td:nth-child(3) {
      color: #3481FF;
    }
  </style>
</head>

<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"
  style="-webkit-font-smoothing: antialiased; width: 100% !important; background: #ffffff; -webkit-text-size-adjust: none;"
  yahoo>

  <table width="700" align="center" border="0" cellpadding="0" cellspacing="0" style="background-color: #ffffff;">
    <tr style="display:flex;justify-content: space-around;padding: 30px;background-color: #D6ECFF;">
      <td width="60%" style="display:flex; padding-left:150px;" >
        <a data-crdl-variant="" target="_blank" href="https://worldcare.vn/">
          <img src="https://i.postimg.cc/zDHMqWB6/imgpsh-fullsize-anim.png" width="153" height="35" border="0"
            style="display: block;">
        </a>
      </td>
      <td style="display:flex; padding-left:200px;" width="40%">
        <span
          style="color: #211F78; font-family: roboto, Helvetica, sans-serif; font-size: 14px; line-height: 16px; font-weight: bold; margin-right: 10px; text-align:right;">
          <span style="font-size: 12px;">HOTLINE</span><br>0912.747.362
        </span>
        <img src="https://i.postimg.cc/gJhTqmsW/Untitled-1.png" width="29" height="29" border="0"
          style="display: block;" alt="">
      </td>
    </tr>
    <tr style="display: flex;">
      <td colspan="2" height="43" align="center" valign="middle" bgcolor="3481FF"
        style="color: #ffffff; font-family: roboto, Helvetica, sans-serif; font-size: 14px; line-height: 40px; width: 100%;">
        <a data-crdl-variant="" target="_blank" style="color: #ffffff; text-decoration: none;"
          href="https://worldcare.vn/cham-soc-suc-khoe-tai-nha">
          <span style="color: #ffffff;">Chăm sóc sức khỏe tại nhà</span>
        </a>
        <span style="font-size: 14px;">|</span>
        <a data-crdl-variant="" target="_blank" style="color: #ffffff; text-decoration: none;"
          href="https://worldcare.vn/cham-soc-suc-khoe-tai-nha">
          <span style="color: #ffffff;">Tận tình - Chu đáo</span>
        </a>
        <span style="font-size: 14px;">|</span>
        <a data-crdl-variant="" target="_blank" style="color: #ffffff; text-decoration: none;"
          href="https://worldcare.vn/cham-soc-suc-khoe-tai-nha">
          <span style="color: #ffffff;">Cán bộ chuyên môn cao</span>
        </a>
        <span style="font-size: 14px;">|</span>
        <a data-crdl-variant="" target="_blank" style="color: #ffffff; text-decoration: none;"
          href="https://worldcare.vn/cham-soc-suc-khoe-tai-nha">
          <span style="color: #ffffff;">Dày dặn kinh nghiệm</span>
        </a>
      </td>
    </tr>